body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

ul {
  display: inline-block;
  text-align: center;
  list-style: none;
  padding-left: 0px;
}

button {
  padding: 12px;
  background-color: lightgreen;
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  font-weight: bold;
  background-color: #fff;

  /* the rest below is copied from https://unused-css.com/blog/round-buttons/ */

  /* border-color: #2ecc71;

    box-shadow: 0px -100px 0 0 #2ecc71 inset  ;
  
    &:hover {
      box-shadow: 0px 0 0 0 #2ecc71 inset  ;
    }
  
    &:active {
      box-shadow: 0px 100px 0 0 #2ecc71 inset  ;
    } */
}

img {
  height: auto;
  width: 400px;
  padding-top: 150px;
  border-radius: 10%;
}

li {
  padding: 5px;
}
